fpjs_shared_secret       = "YOUR_PROXY_SECRET_CREATED_IN_FINGERPRINT_DASHBOARD"
# domain_zone_id         = "ZONE_ID_OF_YOUR_DOMAIN_IN_AWS"
# proxy_subdomain_domain = "metrics.yourwebsite.com"
# certificate_arn        = "ARN_OF_THE_CERTIFICATE_OF_YOUR_DOMAIN_IN_AWS"
